.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  min-height: var(--size-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--size-font);
  color: white;
}

.App-box {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  background: linear-gradient(to right bottom, var(--color-light), var(--color-dark));
  border-radius: 0;
  flex-direction: column;
  flex: 0 0 auto;
  overflow: hidden;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: var(--size-space);
  z-index: 1000;
}

.App-motive {
  background: #ffffff40;
  border-radius: 50%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
